.wrapper {
    margin: 0 auto;
    width: 1140px;
}

.navigation_menu {
    padding: 20px;
}

.logotype {
    float: left;
}

.logotype img {
    height: 100px;
    width: 100px;
}

ul {
    float: right;
    padding: 20px;
    list-style: none;
}

ul li {
    margin: 10px;
    float: left;
}


ul li a {
    display: inline-block;
    padding: 10px;
    background: #EFCDB8;
    text-decoration: none;
}

.title {
    text-align: center;
    font-size: 16px;
}

.block {
    clear: both;
    padding: 20px;
    margin: 0 auto 20px;
    width: 80%;
    border-radius: 30px;
}

.first {
    color: white;
    background: darkred;
}

.second {
    color: white;
    background: rosybrown;
}

.block-inside {
    text-align: justify;
    display: inline-block;
    padding: 30px;
    margin: 10px;
    border-radius: 30px;

}

.block15 {
    width: 40%;
    background-color: indianred;
}

.block16 {
    width: 40%;
    background-color: indianred;

}